**{
	margin: 0;
	padding: 0;
}
a{
text-decoration: none;	
}
body
{
	
background-image: url(images/1.jpg);
background-attachment: fixed;
}


.menu_top{
float: center;
}
ul{
display: block;
margin: 0;
padding: 0;
list-style: none;
margin-left:20%;
}

ul:after {
display: block;
content: ' ';
clear: both;
float: none;
}

ul.menu > li {
width: 15%;
float: left;
position: relative;
font-size: 120%;
text-align: center;
}

ul.menu > li > a {
display: block;
padding: 10px;
color: white;

text-decoration: none;
}

ul.menu > li > a:hover {
background-color: black;
}
ul.submenu {
display: none;
position: absolute;
width: 120%;
top: 100%;
left: 0;
background-color: #31315f;
border: 1px solid black;
border: 1px solid black;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 5%;
    color: white;
  
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
      ul.menu > li:hover > ul.submenu {
    display: block;
	
}  


.blok-content{
color: #ffffff; 
margin-top:60px;
text-align:center;
box-sizing: border-box;
}

.blok-down{
color: #ffffff; 
font-size: 185%;
margin-right:35%;
}
hr {
    border: none; /* Убираем границу */
    background-color: #31315f; /* Цвет линии */
    color: #31315f; /* Цвет линии для IE6-7 */
    height: 8px; /* Толщина линии */
   }