
*{
	margin: 0;
	padding: 0;
}
a{
text-decoration: none;	
}
body
{
	
background-image: url(images/tumblr_static_tumblr_static_coog7ioa7a0c08co4csswwscs_focused_v3.jpg);
background-attachment: fixed;
}

.logo {
width:100%;
display:flex;
justify-content:center;
	border-bottom:solid 8px;
	border-bottom-color: #31315f;

}
.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

.menu_top{
float: center;

}
ul{
display: block;
margin: 0;
padding: 0;
list-style: none;
margin-left:20%;
}

ul:after {
display: block;
content: ' ';
clear: both;
float: none;
}

ul.menu > li {
width: 15%;
float: left;
position: relative;
font-size: 120%;
text-align: center;
}

ul.menu > li > a {
display: block;
padding: 10px;
color: white;

text-decoration: none;
}

ul.menu > li > a:hover {
background-color: black;
}
ul.submenu {
display: none;
position: absolute;
width: 120%;
top: 100%;
left: 0;
background-color: #31315f;
border: 1px solid black;
border: 1px solid black;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 5%;
    color: white;
  
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
      ul.menu > li:hover > ul.submenu {
    display: block;
	
}  


/* .blok-content{
clear:both;
display:flex;
border:1px solid red;
} */
* {box-sizing: border-box;}
.transparent {
 position: relative;
 max-width: 400px;
 padding: 60px 50px;
 margin: 50px auto 0;
 background-image: url(images/amway921_hyperboost_pc_photo_11.jpg);
 background-size: cover;
 margin-bottom: 30px;
 }
 .transparent:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(to right bottom,rgba(43, 44, 78, .5),rgba(104, 22, 96, .5));
 }
 .form-inner {
 position: relative;
 }
 .form-inner h1 {
 position: relative;
 margin-top: 0;
 margin-bottom: 15px;
 color: white;
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
 font-size: 26px;
 text-transform: uppercase;
 }
 .form-inner h1:after {
 content: "";
 position :absolute;
 left: 0; bottom: -6px;
 height: 2px;
 width: 60px;
 background:;
 } 
 .form-inner label {
 display: block;
 padding-left: 15px;
 font-family: 'Roboto', sans-serif;
 color: rgba(255,255,255,.6);
 text-transform: uppercase;
 font-size: 14px;
 }
 .form-inner input {
 display: block;
 width: 100%;
 padding: 0 15px;
 margin: 10px 0 15px;
 border-width: 0;
line-height: 40px;
 border-radius: 20px;
 color: white;
 background: rgba(255,255,255,.2);
 font-family: 'Roboto', sans-serif;
 }
 .form-inner input[type="checkbox"] {
 position: absolute;
 opacity: 0;
 }
 #custom-checkbox + label {
 position: relative;
 margin: 20px 0;
 text-transform:none;
 cursor: pointer;
 }
 #custom-checkbox + label:before {
 content: "";
 display: inline-block;
 width: 20px;
 height: 20px;
 margin-right: 10px;
 vertical-align: text-top;
 background: white;
 }
 #custom-checkbox:checked + label:before {
 background: #1762EE;
 }
 #custom-checkbox:checked + label:after {
 content: "";
 position: absolute;
 width: 2px;
 height: 2px; 
 left: 20px;
 top: 9px;
 background: white;
 box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
 transform: rotate(45deg);
 }
 .form-inner input[type="submit"] {background: #1762EE;}

hr {
    border: none; /* Убираем границу */
    background-color: #31315f; /* Цвет линии */
    color: #31315f; /* Цвет линии для IE6-7 */
    height: 8px; /* Толщина линии */
   }
.vault img{

width:50px;height:50px;
display:block;
margin-left: 90px;

}
.vault{
box-sizing: border-box;
margin:2%;
margin-left: 22%;
display: flex;
align-items:center;
flex-wrap:wrap;
color: #ffffff; 
}
.vault a{
	color:#ffffff;
}
.c{
text-align:center;
color: #ffffff; 
font-size: 25px;
}
@media (max-width: 720px){
ul.menu > li {
width: 20%;
position: relative;
font-size: 120%;
}
ul{
display: block;
margin: 0;
padding: 0;
list-style: none;
margin-left:1%;
}
body
{
	background-image: url(images/mob.jpg);
background-attachment: fixed;
}

.vault img{

width:30px;height:30px;
display:block;
margin-left: 10px;
}
.vault{
box-sizing: border-box;
margin:2%;
margin-left: 2%;
display: flex;
color: #ffffff; 
margin-top: 50px;
}
.blok-content{
	margin-bottom: 165px;
	margin-top:160px
}
}