*{
	margin: 0;
	padding: 0;
}
a{
text-decoration: none;	
}
body
{
	
background-image: url(images/oboik.ru_35310.jpg);
background-attachment: fixed;
}


.logo {
width:100%;
display:flex;
justify-content:center;
	border-bottom:solid 8px;
	border-bottom-color: #31315f;

}
.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

.menu_top{
float: center;
}
ul{
display: block;
margin: 0;
padding: 0;
list-style: none;
margin-left:20%;
}

ul:after {
display: block;
content: ' ';
clear: both;
float: none;
}

ul.menu > li {
width: 15%;
float: left;
position: relative;
font-size: 120%;
text-align: center;
}

ul.menu > li > a {
display: block;
padding: 10px;
color: white;

text-decoration: none;
}

ul.menu > li > a:hover {
background-color: black;
}
ul.submenu {
display: none;
position: absolute;
width: 120%;
top: 100%;
left: 0;
background-color: #31315f;
border: 1px solid black;
border: 1px solid black;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 5%;
    color: white;
  
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
      ul.menu > li:hover > ul.submenu {
    display: block;
	
}  

body {
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
}

.contacts {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.contacts .title {
  margin-bottom: 20px;
font-weight: bold;
  font-size: 30px;
  color: #ffffff;
}

.contacts .item {
  position: relative;
margin-bottom: 10px;
  padding-left: 0px;
}

.map{
margin-bottom: 30px;
width:100%;
display:flex;
justify-content:center;
}
.contacts .icon {
  position: absolute;
  top: 3px;
  left: 0;
	width: 22px;
	height: 32px;


}

.contacts .icon-location {
}

.contacts .icon-phone {
}

.contacts .icon-email {
}

.contacts a {
}



hr {
    border: none; /* Убираем границу */
    background-color: #31315f; /* Цвет линии */
    color: #31315f; /* Цвет линии для IE6-7 */
    height: 8px; /* Толщина линии */
   }
.vault img{

width:50px;height:50px;
display:block;
margin-left: 100px;

}
.vault{
box-sizing: border-box;
margin:2%;
margin-left: 22%;
display: flex;
align-items:center;
flex-wrap:wrap;
color: #ffffff; 
}

.vault a{
	color:#ffffff;
}
.c{
text-align:center;
color: #ffffff; 
font-size: 25px;
}

@media (max-width: 720px){
ul.menu > li {
width: 20%;
position: relative;
font-size: 120%;
}
ul{
display: block;
margin: 0;
padding: 0;
list-style: none;
margin-left:1%;
}


.vault img{

width:30px;height:30px;
display:block;
margin-left: 10px;
}
.vault{
box-sizing: border-box;
margin:2%;
margin-left: 2%;
display: flex;
color: #ffffff; 
margin-top: 50px;
}
}

