.mainInput{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 30%;
    width: 80%;
    height: 5em;
}

input{
    width: 100%;
    height: 100%;
    font-size: 4em;
    padding: 1%;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
    border-radius: 4px;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    margin-bottom: 3%;
}

.searchButton{
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    margin-top: 1%;

    height: 60px;
    padding: 0;
    font-size: 30px;
    background-color: rgb(23, 192, 73);
    border-radius: 4px;
    box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
}

.searchButton:hover{
    background-color: rgb(18, 180, 67);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
}

.searchButton:active{
    background-color: rgb(179, 250, 201);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}